<div *ngFor="let answer of answers">
  <div *ngIf="answer.forTeacher" class="div" [ngStyle]="{ 'background-color': answer.bg }">
    <h3>{{ answer.name }}</h3>
    <p>{{ answer.answer }}</p>
    
    
      <div class="buttons">
        <label> <i class="far fa-grin-squint-tears"></i>
        <input class='input' select [checked]="parseInt(answer.grade) == 0" [value]="0" type="radio" name="{{answer.name}}"
          (change)="editGrade(answer.name, $event)" />
        </label>
    
        <label> <i class="far fa-grin"></i> 
        <input class='input' select [checked]="parseInt(answer.grade) == 5" [value]="5" type="radio" name="{{answer.name}}"
          (change)="editGrade(answer.name, $event)" />
        </label>
    
        <label> <i class="far fa-smile-beam"></i>
        <input class='input' select [checked]="parseInt(answer.grade) == 10" [value]="10" type="radio" name="{{answer.name}}"
          (change)="editGrade(answer.name, $event)" />
        </label>
      </div>

  </div>
</div>